.menu_block, .meat, .vege, .diet {
  max-width: 5.1875rem;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 5%;
  -webkit-flex: 5%;
  -ms-flex: 5%;
  flex: 5%; }

.figure, .figure_hidden, .figure_visible {
  width: 0px;
  height: 0px;
  margin-top: 0.3125rem;
  border-top: 12px solid #f9b43b;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; }

.name, .team_name, .team_activename {
  margin-left: 7px;
  font-family: 'gagalinregular';
  font-size: 14px;
  font-weight: 400; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.main_content {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section {
  height: 100%;
  min-height: 650px;
  min-width: 940px; }

.order_buttom {
  max-height: 2.375rem;
  padding: 0.625rem 1.3125rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  font-size: 0.8125rem;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order_buttom:hover {
    background-color: #c13c18; }

.main_links {
  position: fixed;
  top: 5.5rem;
  right: 3rem; }

.main_links_one {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 0.75rem; }
  .main_links_one:after {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff; }
  .main_links_one:hover {
    border: 0.125rem solid #fff; }

.tytle {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 4.625rem;
  font-weight: 400; }
  .tytle_yellow {
    color: #f9b43b; }
  .tytle_black {
    color: #2f3234; }
  .tytle_white {
    color: #fff; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'ubunturegular', Arial, sans-serif;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../font/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../font/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../font/ubuntu/ubuntu-bold-webfont.woff2") format("woff2"), url("../font/ubuntu/ubuntu-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../font/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../font/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../font/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../font/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../font/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../font/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../font/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../font/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

header {
  width: 100%;
  background-color: #2f3234;
  background-image: url(../../burger/images/bg/bg_header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header_nav {
  margin-right: 4.6875rem;
  margin-top: 1.625rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.header_nav_menu {
  margin-right: 0.8125rem; }

.header_nav_logo {
  margin-right: auto;
  padding-top: 0.75rem;
  padding-left: 4.8125rem; }

.header_menu {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav_list {
  margin-top: -0.125rem;
  padding: 0; }

.nav_name {
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav_name:after {
    margin: 0 0.625rem;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff; }
  .nav_name:last-child:after {
    display: none; }

.nav_buttom {
  margin-top: 0.125rem; }

.nav_link {
  display: inline-block;
  vertical-align: middle; }

.burger_menu {
  border-top: 5px #fff solid;
  border-bottom: 5px #fff solid;
  width: 2.75rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  margin: 0.625rem auto 0;
  margin-left: 1.25rem;
  display: none; }
  .burger_menu:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 5px #fff solid;
    margin-top: -0.1875rem; }
  @media screen and (max-width: 768px) {
    .burger_menu {
      display: block; } }

.wedo {
  padding-bottom: 8.4375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.wedo_pic {
  width: 26.3125rem;
  height: 26.25rem; }

.wedo_text {
  margin-top: 10rem;
  margin-left: -1.375rem;
  text-align: center; }

.wedo_text_bottom {
  margin-top: -0.8125rem;
  margin-left: 4.125rem;
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  color: #fff;
  line-height: 5.3125rem;
  text-align: left; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -8.0625rem;
  padding-bottom: 2.6875rem; }

#webest {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: aliceblue;
  background-image: url(../../burger/images/bg/bg_webest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.webest_content {
  padding-top: 2.5rem; }

.webest_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.webest_reasons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 68.75rem;
  padding-top: 0.9375rem; }

.webest_reasons_one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.875rem;
  margin-top: 2.5rem;
  text-align: center;
  padding-bottom: 15%; }

.webest_reason_logo {
  width: 4.5625rem;
  height: 5.3125rem; }

.webest_reasons_tytle {
  font-family: 'lifehackmedium';
  font-size: 1.5rem;
  padding-top: 0.75rem; }

.webest_reasons_descr {
  opacity: 0.8;
  font-family: 'ubunturegular';
  font-size: 0.9375rem;
  margin-top: -0.75rem; }

.leaf_tytle {
  letter-spacing: -0.0375rem; }

#all_reviews {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.reviews {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.one_review {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .one_review:hover .reviews_descr {
    opacity: 1; }

.reviews_descr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  padding-left: 1.3125rem;
  padding-right: 2.125rem;
  text-align: left; }

.reviews_descr_tytle {
  color: #ffffff;
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75687rem;
  margin-top: 3.1875rem;
  padding-bottom: 1.875rem; }

.reviews_descr_text {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-bottom: 0.9375rem; }

.reviews_descr_butt {
  background-color: #2f3234; }
  .reviews_descr_butt:hover {
    background-color: #232527; }

#team {
  margin: 0;
  padding: 0;
  background-image: url(../../burger/images/bg/bc_team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative; }

.team_infopart {
  width: 50%;
  height: 100%;
  background-color: rgba(41, 40, 40, 0.8);
  position: absolute;
  top: 0;
  right: 0; }

.team_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem; }

.team_link {
  height: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 2.1875rem; }

.figure_visible {
  border-top: none;
  border-bottom: 12px solid #f9b43b; }

.team_name {
  color: #ffffff; }

.team_activename {
  color: #f9b43b; }

.team_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  width: 20.6875rem; }

.hidden_info {
  height: 0;
  overflow: hidden; }

.team_photo {
  width: 45%;
  height: 6.25rem;
  background-position: -1.25rem center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-right: 3%;
  margin-top: 1.0625rem; }

.team_details {
  width: 20.6875rem;
  height: 5.75rem; }

.team_prof {
  font-weight: 700;
  margin: 0; }

.team_prof_description {
  font-family: 'ubunturegular';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

#menu {
  width: 100%;
  height: 100vh;
  background-image: url(../../burger/images/menu/menu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.global_tytle {
  margin-left: 5.875rem;
  margin-top: 7rem; }

.menu_parts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row no-wrap;
  -ms-flex-flow: row no-wrap;
  flex-flow: row no-wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu_img {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative; }

.menu_tytle {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  color: #ffffff;
  font-family: 'gagalinregular';
  font-size: 2.625rem;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.menu_text {
  background-color: rgba(39, 39, 39, 0.84);
  height: 100vh;
  color: #fff;
  font-family: 'ubunturegular';
  font-size: 0.875rem;
  font-weight: 300;
  -webkit-box-flex: 20%;
  -webkit-flex: 20%;
  -ms-flex: 20%;
  flex: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu_text_hidden {
  width: 0;
  display: none; }

.meat {
  background-image: url(../../burger/images/menu/meat1.jpg); }

.vege {
  background-image: url(../../burger/images/menu/vege1.jpg); }

.diet {
  background-image: url(../../burger/images/menu/diet1.jpg); }

#forms {
  height: 100vh;
  background-color: #4b4b4b;
  background-image: url(../images/bg/bg-forms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form_tytle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5.6875rem;
  margin-bottom: 6.0625rem; }

.form_block_tytle {
  color: #fff;
  margin-bottom: 0.9375rem; }

.form_input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5625rem 1rem;
  width: 100%; }

.form_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.625rem; }

.form_block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.9375rem; }

.form_content_part {
  width: 70%;
  margin: 1.25rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form_content {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.radio_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.radio_buttons_one {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.radio_tytle {
  margin-left: 1.625rem;
  margin-top: -0.3125rem; }

.dontcall {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dontcall input {
    position: absolute;
    opacity: 0; }

.checkboxing {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
  background-color: #eee; }

.dontcall:hover input ~ .checkboxing {
  background-color: #ccc; }

.checkboxing:after {
  content: "";
  position: absolute;
  display: none; }

.dontcall input:checked ~ .checkboxing:after {
  display: block; }

.dontcall .checkboxing:after {
  left: 5px;
  top: 1px;
  width: 9px;
  height: 11px;
  border: solid #e45028;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkboxes input:checked .checkboxing:after {
  display: block; }

.radio_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio_buttons input {
    position: absolute;
    opacity: 0; }

.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #eee; }

.radio_buttons:hover input ~ .checkradio {
  background-color: #ccc; }

.checkradio:after {
  content: "";
  position: absolute;
  display: none; }

.radio_buttons input:checked ~ .checkradio:after {
  display: block; }

.radio_buttons .checkradio:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e45028; }

.clean_bottom {
  margin-left: 1.1875rem;
  margin-top: 0.375rem;
  text-transform: none;
  font-size: 0.875rem; }

#map {
  height: 100vh;
  background-color: gray;
  background-image: url(../../burger/images/find/bg-map.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.buttom {
  height: 10%;
  background-color: #2f3234;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff; }

.buttom_left {
  padding: 0.75rem 0 0.625rem 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 300; }

.phone_number {
  color: #e45028;
  font-weight: 700; }

.buttom_right {
  padding-top: 1rem; }

.app_icon {
  color: #4b4b4b; }
  .app_icon:hover {
    color: #fff; }

.icon_vk {
  padding-right: 1.25rem; }

.icon_fb {
  padding-right: 1.25rem; }

.icon_ig {
  padding-right: 1.1875rem; }

.icon_tw {
  padding-right: 5rem; }

/*# sourceMappingURL=main.css.map */