// functions
@import "sass_functions/mixins";
@import "sass_functions/var";

@import "sass_functions/extends";

//base

@import "layout/adjustment";
@import "layout/base";
@import "layout/fonts";

//sections

@import "section/header";
@import "section/burger";
@import "section/webest";
@import "section/reviews";
@import "section/team";
@import "section/menu";
@import "section/forms";
@import "section/map";
@import "section/burger_navigation";
