.wedo{
    background-color: $black;
    background-image: url(../images/bg/bg_header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    }

.wedo__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.wedo_content {
   
    display: flex;
    
  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
   margin-top: -20%;
  }
}

.part_wedo{
   
    width: 50%;
   
    @include tablets{
         width: 90%;
       
    }
}

.wedo_pic{
   
}

.wedo_pic_burger{
  display: inline-block;
  position: relative;
 // left: 50%;
 // transform: translateX(-50%);     //use this next time
  max-width: 100%;
  max-height: 100%;
    
}

.wedo_text{
    padding-top: rem(115px);
    text-align: center;
    
    
        @include tablets{
          padding-top: 5%;
          margin-bottom:15%;
    }
}


.wedo_text_bottom{
    font-family: 'lifehackmedium';
    font-size: rem(65px);
    color: #fff;
    line-height: rem(85px);
    
     @include tablets{
         
          line-height: rem(55px); 
    }
    
    @include medium_tablets{
        margin-top: -9%;
    }        
    }

.wedo_text_top{
     line-height: rem(66px);
    
}

.arrow{
    position: absolute;
    bottom: rem(20px);
    left: 50%;
    display: flex;
    justify-content: center;
 
}