header{
    background-color: $black;
    background-image: url(../../burger/images/bg/bg_header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav{
    margin-right: rem(75px);
    margin-top: rem(26px);
      display: inline-flex;
    flex-direction: row;
}
.header_nav_menu{
    margin-right: 13px;
}

.header_nav_logo{
    margin-right: auto;
    padding-top: rem(12px);
    padding-left: rem(77px);
}

.header_menu{
    width: 100%;
  display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav_list{
   margin: 0;
    padding: 0;
}

.nav_name{
    display: inline-block;
vertical-align: middle;
  white-space: nowrap;
    
    &:after{
        display: inline-block;
        vertical-align: middle;
        content:'';
        @include circle(5px, #fff); 
        margin: 0 12px;
    }
    &:last-child:after {
        display: none;
    }
}
.nav_link{
 display: inline-block;
  vertical-align: middle;
}

.wedo{
   display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: rem(135px);
    
    
}

.wedo_pic{
    width: rem(421px);
height: rem(420px);

}
.wedo_text{
    text-align: center;
}
.wedo_text_top{
    font-family: 'gagalinregular';
  font-size: 72px;
    color: $yellow;
   }

.wedo_text_bottom{
     font-family: 'lifehackmedium';
    font-size: 65px;
    color: #fff;
    line-height: rem(85px);
}

.arrow{
    display: flex;
    justify-content: center;
    margin-top: -43px;
    padding-bottom: 43px; //я уверенна, что это ооочень неверно. обдумать это позже!!!
}
