#header{
   // width: 100%;
	padding-top: rem(12px);
    justify-content: space-between;
	align-items: center;
    display: flex;
    
      @include tablets{
           margin-top: 5%;
    }
}


.header_nav_logo{
   margin-right: auto;
    padding-top:rem(12px);
    padding-left: rem(77px);
    z-index: 10;
    
      
    @include tablets{
    padding-left: 1%;
    }
}

.header_nav{
   //margin-right: rem(75px);
   // margin-top: rem(26px);
   // display: inline-flex;
    //flex-direction: row;
    display: flex;
    align-items: baseline;
    margin-left: auto;
    }

.header_nav_menu{
    margin-right: rem(12px);
    flex: 1;
	text-align: right;
     
    @include tablets{
        display: none;
    }
}

.nav_list{
   //margin-top: rem(-2px);
   // padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
     
}
.nav_name{
        font-size: rem(48px);
   // display: inline-block;
   // vertical-align: middle;
    white-space: nowrap;
       
    &:after{
        margin: 0 rem(12px);
        display: inline-block;
        vertical-align: middle;
        content:'';
        @include circle(5px, #fff); 
                     }
      &:last-child:after {
          display: none;
    }
}

.nav_link{
 display: inline-flex;
 //vertical-align: middle;
    font-size:rem(14px);
}

.header_links {
  display: flex;
  align-items: center;
}

.burger_menu {
  
    border-top: 5px #fff solid;
    border-bottom: 5px #fff solid;
    width: rem(44px);
    height: rem(35px);
    cursor: pointer;
    position: relative;
    margin: rem(10px) auto 0;
    margin-left: rem(20px);
    display: none;
    

  
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        border-top: 5px #fff solid;
        margin-top: rem(-5px);
    }
    
    @include tablets{
        display: block;
    }
}


