.our_map{
    width:100%;
    max-height: 91%;
    background-color: gray;
   // background-image: url(../../burger/images/find/bg-map.jpg) ;
    // background-position: bottom;
    // background-size: cover;
    position: relative;
    overflow: hidden;
   // display: flex; 
   // flex: 1;  
   @include tablets{
    max-height: 93%;
   }
   @include tablets{
    max-height: 91%;
   }
    }



.footer{
    max-height: 8%;

    
}
.buttom{
    height: rem(60px);
    background-color: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;  
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    height: 9%; 

     @include mobile{
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         height: 10%; 
    }
  }

.buttom_left{
    padding:  rem(12px)  0 rem(10px)   rem(30px) ;
    display: flex;
    flex-direction: column;
    font-size:  rem(14px) ;
    font-weight: 300;
    
        
     @include mobile{
        padding-top: rem(5px);
        font-size:  rem(12px) ;
    }
}

.adres{
    
}

.phone_number{
  color: $orange ;
  font-weight: 700; 
}

.buttom_right{
   padding-top: rem(16px) ;
      @include mobile{
        margin-left: 4%;
   
          padding-top: 0;
          justify-content: center;
    }
}

.app_icon{
    width:rem(20px);
     height:rem(20px); 
     color:$gray;
     margin: rem(5px);   
        &:hover{
          color: #fff;
            }
        }

.icon_vk{
   padding-right:  rem(20px) ; 
}
.icon_fb{
   padding-right:  rem(20px)  ; 
}
.icon_ig{
    padding-right:  rem(19px)  ;
}
.icon_tw{
    padding-right:   rem(80px) ;
}