#menu {
    //width: 100%;
    min-height: 100vh;
    background-image: url(../../burger/images/menu/menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
     position: relative;
}

.menu_wrapp {
    width: 100%;
    margin: auto;
    max-width: 960px;
  }

.global_tytle {
    position: absolute;
    right: 80%;
    top: 43px;
    z-index: 1;
    font-size: rem(72px);

     @include tablets() {
        margin-left:rem(34px);
        margin-top: rem(32px);
        z-index: 0;
}
    @include mobile() {  
        font-size: rem(60px);
        margin-left:rem(14px);
     
}
      
}


.menu_parts {
    display: flex;
    //flex-flow: row no-wrap;
    //align-items: flex-end;
    max-width:70%;
    height: 100%;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     margin: 0;
     padding: 0;
     
}

.menu_content{
    overflow: hidden;
    display: flex; 
}

.menu_content_active .menu_text_par{
    max-width: 540px;
    opacity: 1;
    visibility: visible;
    padding: 60px 35px;
}

.menu_img{
    height: 100%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
     position: relative;
     padding: 20px;
     display: flex;
     align-items: center;
     width: 80px;
     cursor: pointer;
}


.menu_tytle {
    position: absolute;
    top: 30%;
    left: 15%;
   writing-mode:vertical-rl;
   transform: scale(-1, -1);
   color: #ffffff;
   font-family: 'gagalinregular';
   font-size:rem(42px);
   font-weight: 400;
   text-align: center;
   display: block;
   white-space: nowrap;
   
  
    //     @include mobile() {
    //         font-size:rem(38px);
    //         padding: rem(5px);
    //  }

     @include small_mobile() {
        padding: rem(15px);
     }

     &_active{
        color: $yellow; 
     }
}

 .menu_text_par {
   background-color:  rgba(39, 39, 39, 0.84);
    height: 100vh; 
    color:#fff;
    font-family:'ubunturegular';
    font-size:rem(14px);
    font-weight: 300;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    display: block;
    padding: 0;
    width: 100%;
    }

    .active{
    display: block;
}



// .meat {
//     @extend .menu_block;
// //-image: url(../../burger/images/menu/meat1.jpg);
//    }

// .vege {
//     @extend .menu_block;
//     //background-image:url(../../burger/images/menu/vege1.jpg);
   
//  }

// .diet {
//      @extend .menu_block;
//    // background-image:url(../../burger/images/menu/diet1.jpg);
 
//     }

    




