
.reviews{
     height: 100%;
     width: 100%;
    display: flex; 
     flex-wrap: wrap;
    }

.one_review{
    width: 25%;
    height: 50%;
  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);  
    position: relative;
    
    @include tablets{
       width:50%;
       min-height: 200px;
    }
    
     

&:hover,
&:active{
    .reviews_descr {
        opacity: 1;
        
    }
  }
}

.reviews_descr {
    background: rgba(#454545, .7);
    min-height: 200px;
    opacity: 0;
    transition: opacity .3s;
    padding-left: rem(21px);
    padding-right: rem(34px);
    padding-bottom:  15%;
    text-align: left;
    
    
  //  @include mobile {
  //   min-height: 100%;
  //      
   // }
    }

.reviews_descr_tytle{
    color: #ffffff;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(28.11px);
    padding-top: rem(30px);
    padding-bottom: rem(50px);
    
    @include mobile {
      padding-bottom: rem(20px);
      font-size: rem(28px);
      text-align: center;
        
    } 
}

.reviews_descr_text{
    color: #ffffff;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding-bottom: rem(15px);
    display: block;
    
    @include mobile {
      display: none;
        
    }  
}

.reviews_descr_butt{
    background-color: $black;
   // display:flex  ;
   // justify-content:center ;
    max-width: 110px;

    @include tablets{
        margin: 0 25%;
    }

    @include small_mobile{
        margin: 0 ;
      
    }
  
    
    &:hover{
        background-color: darken($black,5%);
    }
}