
.reviews{
     height: 100%;
     width: 100%;
    display: flex; 
     flex-wrap: wrap;
    
   
    
}

.one_review{
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);  
    position: relative;
    
    @include tablets{
       width:50%;
    }

&:hover {
    .reviews_descr {
        opacity: 1;
    }
  }
}

.reviews_descr {
 //position: absolute;
    background: rgba(#454545, .7);
    opacity: 0;
    transition: opacity .3s;
    padding-left: rem(21px);
    padding-right: rem(34px);
    padding-bottom:  15%;
    text-align: left;
    }

.reviews_descr_tytle{
    color: #ffffff;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(28.11px);
    padding-top: rem(30px);
    padding-bottom: rem(50px);
}

.reviews_descr_text{
    color: #ffffff;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding-bottom: rem(15px);
}

.reviews_descr_butt{
    background-color: $black;
    
    &:hover{
        background-color: darken($black,5%);
    }
}