.slider{
     background:#eb8d38;
  background:linear-gradient(#f9b43b, #eb8d38,#f9b43b);
 position: relative;
}

.container_slider{
      margin: 0 auto;
    width: 85%;
    display: flex;
    
    @include mobile{
        width: 95%;
    }
  
}

.slider_tytle{
    margin-bottom: rem(50px);
    line-height: rem(64px);
}

.slider_content{
  
   margin: 0 auto;
    width: 100%;
    max-width:940px; 
    padding-left: rem(47px);

}

.slider_content_slide{
 width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    @include big_tablets {
        }

@include tablets {
    margin-top: -10%;          
flex-direction: column;
text-align:center;
}
}
.content_picture_jpg{
  max-width: rem(400px);
    
    @include mobile{
         max-width: rem(404px);
        
    }
}
.content_desc{
    max-width: rem(441px);
  }

.slider_desc{
    
    color: #ffffff;
    font-size: rem(14px);
    
    @include tablets{
        margin-top:rem(-20px) ;
       // margin-left: -15%;
        width: rem(564px);
        }
  }

.slider_order{
    display: flex;
    align-items: baseline;
}
.price{

}
.value{
      font-size: rem(30px);
     margin-right: rem(30px); 
}


.kkal_picture{
     position: absolute;
    bottom:rem(86px);
    left: rem(80px);
    z-index:10 ;
    @include tablets {
        position: absolute;
        top:rem(36px);
    left: 85%;
     
    }
}
.svg_kkal{
    width: rem(60px);
    height: rem(60px);
}

.goods{
    position: absolute;
   top:rem(89px);
    left: rem(78px);
    background-color: rgba($orange, 0.4);
    padding: rem(16px) rem(23px) rem(14px) rem(24px);
    border-radius: 5px;
    
    @include tablets {
        position: absolute;
        top:rem(36px);
    left: rem(47px);
    }
}
.svg_goods{
    width: rem(46px);
    height: rem(44px);
}

.goods_desc{
    font-family:  'gagalinregular';
    font-size: rem(14px);
    color:#fff;
}

.kkal_text{
    font-family:  'gagalinregular';
    font-size: rem(20px);
    color:#fff; 
    position: absolute;
    bottom:rem( 15px);
    left:rem(13px);
    
    @include tablets{
        bottom:91%;
    }
}

.kkal_text_value{
    font-family:  'gagalinregular';
    font-size: rem(14px);
    color:#fff; 
    position: absolute;
    top:rem(65px);
    left:rem(13px);
}

.swiper-container {
    max-width: 100%;
    height:800px;
  }

  .swiper-button-prev{
     background-image: none;
  }

  .swiper-button-next{
    background-image: none;
  }

//   .content_picture{
//       flex:1;
//   }

//   .content_desc{
//       flex:1;
//   }