.team{
    background: url(../../burger/images/bg/bc_team.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.team_infopart{
    width: 50%;
    background-color: rgba(41, 40, 40, 0.8);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    padding: 5% 2% 0 1%;
    
    @include tablets {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team_block{
    display: flex;
    flex-direction: column;
    margin-left: rem(80px);
     
    @include tablets {
    text-align: center;
  }
}

.team_title{
 
   }

.team_accordeon{
    
}

.team_member {
  margin-bottom: rem(40px);
  
	&:last-child {
		margin-bottom: 0;
	}
}

.team_link{
   display: inline-flex;
    font-size: rem(14px);
    @include tablets() {
    font-size: rem(25px);
  }
    }

.figure_hidden{
    @extend .figure;
    
}

.figure_visible{
    @extend .figure;
     border-top: none;
     border-bottom: 12px solid $yellow;
    }

.team_name{
    @extend .name;
    color: #ffffff;
  }

.team_activename{
    @extend .name;
    color: $yellow; 
}

.team_info{
   
    display: flex;
    align-items: center;
    color:#fff;
    width: rem(331px);
    
        @include tablets() {
            flex-direction: column;
            width: 100%;
  }
    
}

.hidden_info{
    height: 0;
    overflow: hidden;
    
}

.team_photo {
	text-align: center;
	width: 30%;
}

.team_photo_img{
  //width:45%;
    height: rem(100px);
    width: rem(100px);
    background-position: rem(-20px) center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-right: 3%;
    margin-top: rem(17px);
    }

.team_details{
    width:70%;
    margin-top: rem(25px);
    margin-left: rem(10px);
}

.team_prof{
    font-weight: 700;
    font-size: rem(14px);
    margin-bottom: rem(14px);
    }

.team_prof_description{
    font-family: 'ubunturegular';
    font-size:rem( 14px);
    font-weight: 300;
    line-height: rem(24px); 
}

