.webest{
    background-color: aliceblue;
    background-image:url(../../burger/images/bg/bg_webest.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    }

.webest_tytle{
    display: flex;
    justify-content: center;
    margin-top: rem(80px);
    
    @include mobile {
    margin-top: rem(58px);
  }
}

.webest_reasons{
    display: flex;
    flex-direction: row;
     
    @include mobile {
    flex-direction: column;
        margin-top: -10%;
  }
}

.webest_reasons_one{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: rem(50px);
        padding: 0 rem(15px);
     
    @include mobile {
    flex-direction: row;
       margin-bottom: rem(45px);
  }
}

.webest_reasons_logo_svg {
  width: 90%;
  height: rem(100px);
     svg {
    max-width: rem(75px);
  }
 }

.webest_reasons_text{
    @include mobile {
    text-align: left;
    max-width:rem(370px); 
  }
}

.webest_reasons_tytle{
    font-family: 'lifehackmedium';
    font-size: rem(24px);
    margin-bottom: rem(8px);
}

.webest_reasons_descr{
    opacity: 0.8;
    font-family: 'ubunturegular';
    font-size: rem(15px);
   
    }

.leaf_tytle{
    letter-spacing: rem(-0.6px);
}