.burger_nav_hidden{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($gray,0.95);
    width: 100vw;
    height: 100%;
    z-index: 8;
    
    display: none;    
}

.open{
  display: block;
  
}
.burger_nav_list{
    display: flex;
    align-items: center;
    flex-direction: column;
      flex: 1;
    margin-top: 25%;
}
.burger_nav_link{
    display: flex;
    justify-content: center;
    
    a{
       font-size: rem(24px); 
    }
}

.circle{
    
        margin: 10px 0;
        display: inline-block;
        vertical-align: middle;
        content:'';
        @include circle(5px, #fff); 
                    
}

.close_icon {
  color: #000;
  position: absolute;
    top: 31px;
    right: 49px;
    margin-left: rem(3px);
  margin-top: rem(10px);
    z-index: 10;
    opacity: 0.4;
    

  &:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
   transform: rotate(135deg);
      z-index: 10;
}
   &::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
   transform: rotate(45deg);
       z-index:10;
}
  }