#header{
	padding-top: rem(12px);
    justify-content: space-between;
	align-items: center;
    display: flex;
    
      @include tablets{
           margin-top: 5%;
    }
}


.header_nav_logo{
   margin-right: auto;
    padding-top:rem(12px);
    padding-left: rem(77px);
    z-index: 60;
    
     @include big_tablets{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
     } 

    @include tablets{
    padding-left: 1%;
    }
}

.header_nav{
    display: flex;
    align-items: baseline;
    margin-left: auto;
    }

.header_nav_menu{
    margin-right: rem(12px);
    flex: 1;
	text-align: right;
     
    @include tablets{
        display: none;
    }
}

.nav_list{
    width: 100%;
    display: flex;
    align-items: center;
     
}
.nav_name{
        font-size: rem(48px);
    white-space: nowrap;
       
    &:after{
        margin: 0 rem(12px);
        display: inline-block;
        vertical-align: middle;
        content:'';
        @include circle(5px, #fff); 
                     }
      &:last-child:after {
          display: none;
    }
}

.nav_link{
 display: inline-flex;
    font-size:rem(14px);
    vertical-align: middle;
}

.header_links {
  display: flex;
  align-items: center;
}

.burger_nav_container {
    position: relative;
    margin-left: rem(20px);
    height: 28px;
    width: 36px;
    cursor: pointer;
    display: none;

    @include tablets{
        display: block;
        
    }
    
    .line-top,
    .line-middle,
    .line-bottom {
      position: absolute;
      display: block;
      height: 4px;
      width: 36px;
      border-radius: 2px;
      background: #fff;
      
    }
    
    .line-top {
      top: 0;
      transform-origin: 34px 2px;
    }
    
    .line-middle {
      top: 12px;
      transition: opacity 200ms linear;
    }
    
    .line-bottom {
      bottom: 0;
      transform-origin: 34px 2px;
    }
    
    &.is-open {

      

      .line-top {
        animation: line-top-out 600ms linear normal;
        animation-fill-mode: forwards;
      }
      .line-middle {
        opacity: 0;
      }
      .line-bottom {
        animation: line-bot-out 600ms linear normal;
        animation-fill-mode: forwards;
      }
    }
    
    &.is-closed {
      .line-top {
        animation: line-top-in 600ms linear normal;
        animation-fill-mode: forwards;
      }
      .line-middle {
        transition-delay: 200ms;
      }
      .line-bottom {
        animation: line-bot-in 600ms linear normal;
        animation-fill-mode: forwards;
      }
    }
  }
  
  @keyframes line-top-in {
    0% {
      left: -5px;
      bot: 0;
      transform: rotate(-45deg);
    }
    20% {
      left: -5px;
      bot: 0;
      transform: rotate(-60deg);
    }
    80% {
      left: 0;
      bot: 0;
      transform: rotate(15deg);
    }
    100% {
      left: 0;
      bot: 1px;
      transform: rotate(0deg);
    }
  }
  
  @keyframes line-top-out {
    0% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
    }
    20% {
      left: 0;
      top: 0;
      transform: rotate(15deg);
    }
    80% {
      left: -5px;
      top: 0;
      transform: rotate(-60deg);
    }
    100% {
      left: -5px;
      top: 1px;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes line-bot-in {
    0% {
      left: -5px;
      transform: rotate(45deg);
    }
    20% {
      left: -5px;
      bot: 0;
      transform: rotate(60deg);
    }
    80% {
      left: 0;
      bot: 0;
      transform: rotate(-15deg);
    }
    100% {
      left: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes line-bot-out {
    0% {
      left: 0;
      transform: rotate(0deg);
    }
    20% {
      left: 0;
      transform: rotate(-15deg);
    }
    80% {
      left: -5px;
      transform: rotate(60deg);
    }
    100% {
      left: -5px;
      transform: rotate(45deg);
    }
  }


