.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.main_content{
    height: 100%;
    min-height:650px;
}

.container{
    width: 940px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.section{
    height: 100%;
    min-height: 650px;
    min-width: 940px;
}

.order_buttom{
    max-height:rem(38px); // не уверенна, что можно так делать
    padding: rem(10px) rem(21px) ;
    border-radius:rem(5px);
    background-color: $orange;
    font-size: rem(13px);
    line-height: 1.42;
    transition: .5s;
    &:hover{
        background-color: darken($orange, 10%);
    }
}

.main_links{
    position: fixed;
    top: rem(88px);
    right: rem(48px);
    
}
.main_links_one{
    width: rem(20px);
    height: rem(20px);
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: rem(12px);
   
    
 &:after{
        display: inline-block;
        content:'';
        @include circle (5px, #fff);
      }

    &:hover{ 
        border: rem(2px )solid #fff;
        
      }
    
}

.tytle{
    text-transform: uppercase;
    font-family: 'gagalinregular';
    font-size: rem(74px);
    font-weight: 400;
    &_yellow{
        color:$yellow;
    } 
    &_black{
        color:$black;
    }
    &_white{
        color:#fff;
    }
}
