body{
    margin: 0;
    padding: 0;
    font-size: rem(16px);
    line-height: rem(24px);
    font-family: 'ubunturegular', Arial, sans-serif;
    color: $black;
    
}

*, *::before, *::after { 
  box-sizing: border-box; 
}

body,html{
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
}